* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-image: url("../../images/background.jpeg");

}

/*Mise en place d'une image arrière plan qui occupe la moitié de l'écran*/
.bg {

    height: 50%;
    background-image: url("../../images/background_header.jpg");
    /* paramètre de positionnement de l'arrière plan: centrer le positionnement sur le fond de l'image*/
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Mise en place d'une image arrière plan qui occupe la totalité de l'écran*/
.login-bg {

    height: 100%;
    background-image: url("../../images/background_header_girl.jpg");
    /* paramètre de positionnement de l'arrière plan: centrer l'image sans repeter*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

/*Style de l'entete de tout le site: aligner le texte à gauche, sans arrière plan*/
.header {
    padding: 30px;
    text-align: left;
    background: none;

}

/*Style de l'entete de la page d'identification: aligner le texte à gauche, sans arrière plan, avec une ombre de texte pour améliorer la visitbilité*/
.login-header {

    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: left;
    margin-left: 2%;
    background: none;

}

.login-header form {
    width: 20%;
    height: 8%;
    padding: 0;

}

/*Lesmessages de succès sont affichés en vert*/
.success {

    color: #5DD167;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    background: none;

}

/*Lesmessages d'échec sont affichés en roug rosé*/
.failure {

    color: #ff1541;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    background: none;

}

/*Style pour les titres situés dans la partie entête de tout le site*/
.header h1 {

    color: #ffffff;
    font-family: gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 250%;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 700;
}

.header h2, h3 {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/* Style pour la barre de navigation supérieure*/
.topnav {
    overflow: hidden;
    background-color: #008FC1;
}

/* Style pour les liens de navigation */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* LEs lines de navigation deviennent transparents et gras au passage de la souris*/
.topnav a:hover {
    opacity: 0.4;
    color: black;
    font-weight: bold;
}

/*Partie gauche du site, elle occuppe 75 % de la page*/
.leftcolumn {
    float: left;
    width: 75%;

}

/*Partie gauche du site, elle occuppe 25 % de la page*/
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 2%;
}

/* Nos articles s'affichent sous la forme de cartes */
.card {
    padding: 1%;
    margin-top: 20px;
    margin-bottom: 1%;
    width: 100%;
    /*overflow: auto;*/
    /*border-radius: 25px;*/
}

/*Les titres de nos articles sont soulignés de rose*/
.card h2 {
    border-bottom: solid 3px #f56a6a;
    display: inline-block;
    margin: 0 0 2em 0;
    padding: 0 0.75em 0.5em 0;
}

.leftcolumn .card {
    border-bottom: solid 3px #75777a;
}

/*LEs images des articles de gauche occuperont 50% dde la carte*/
.leftcolumn .card .image {
    background-color: #ffffff;
    width: 50%;
    padding: 0;
    margin: 0;

}

.leftcolumn .card .details {
    width: 49%;
    float: right;
    margin-left: 0.5%;
    text-align: justify;

}

/*Style pour toutes les image du site : elles sont arrondies sur le bord et occuppent 100% du cadre qui leur ait alloué */
.image {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    border-radius: 0.375em;

}

/*Les images incoporées grâce qux balises de type IMG seront étirées pour s'ajuster au cadre*/
img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    border-radius: 0.375em;
}

.row {
    /*border: 3px solid #4CAF50;*/
    background-color: #fff;
    padding: 1%;

}

/*empecher un bloc de floater à gauche ou à droite apres la ligne*/
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Pied de page */
.footer {
    /*padding: 1%;*/
    text-align: center;
    background: none;
    /*margin-top: 20px;*/
}

.login-form {
    width: 50%;
    display: inline-block;
    /*padding: 3%;*/

}

.login-form h1 {

    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.login-form input[type=text], input[type=password], input[type=email] {
    width: 75%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 2%;
    margin: 1%;
    /*box-sizing: border-box;*/
}

.new-article select, textarea, input {
    width: 50%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1%;
    margin: 1%;
}

.new-article textarea {
    padding: 1% !important;

}

.new-article button {
    background-color: #008FC1;
    width: 50%;
    color: white;
    padding: 1%;
    margin: 1%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 900;

}

button {
    background-color: #008FC1;
    width: 75%;
    color: white;
    padding: 2%;
    margin: 1%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 900;

}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    background-color: #f44336 !important;
}

/*Style CSS pour les écran dont la taille est inferieure à 800 px : affichage tablette*/
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }

    .rightcolumn::before {
        display: none;
    }

    .leftcolumn .card .details {
        width: 100%;
        float: left;

    }

    .bg {

        height: 100%;

        background-position: center;

    }

}

/*Style CSS pour les écran dont la taille est inferieure à 800 px : affichage mobile*/
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }

    .login-header {
        font-size: 100%;
    }

    button {

        width: 100% !important;

    }

    select, textarea, input {
        width: 100% !important;

    }

    .bg {

        height: 100%;

        background-position: top;

    }

}